.info-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
  position: relative;
  margin-bottom: 0.5rem;

  .exit-button {
    position: absolute;
    text-decoration: none;
    padding: 0;
    font-weight: 500;
    &:hover {
      color: #5db075;
    }
  }
}