$messageBoxRadius: 10px;
$borderColorMessage: #e8e8e8;
$receivedTextBackground: #f6f6f6;

.messageBox {
  border-top-left-radius: $messageBoxRadius;
  border-top-right-radius: $messageBoxRadius;
  border-bottom-right-radius: $messageBoxRadius;
  border: 1px solid $borderColorMessage;
  position: relative;
  // padding: 5px 20px;
  // color: white;
  // display: inline-block;
  
  color: #fff;
  padding: 13px;
  // border-radius: 10px;
  width: 60%;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 0;
  //   height: 0;
  //   border-left: 23px solid $receivedTextBackground;
  //   border-right: 0px solid $receivedTextBackground;
  //   border-bottom: 20px solid $receivedTextBackground;
  //   // border-top: 0px solid transparent;
  //   border-left-color: transparent;
  //   margin-bottom: -20px;
  //   transform: rotate(180deg);
  // }
}

.triangle {
  // width: 0;
  // height: 0;
  // border-left: 23px solid transparent; /* Left side of the triangle (transparent) */
  // border-bottom: 20px solid #f6f6f6;
  // transform: rotate(180deg); 
  width: 0;
	height: 0;
	// border-right: 23px solid transparent;
  // border-right-color: $borderColorMessage;
	border-top: 20px solid red;
  border-left: 1px solid red;
  border-right: 23px solid red;
}

.messageText {
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
  text-align: left;
  line-height: 1;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: flex-start;
  font-family: Helvetica;
  color: #000;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundGreen {
  background: #5DB075;
}

.backgroundLight {
  background: $receivedTextBackground;
}
